
/* COLORS */
$color-primary: #ffffff;
$color-secondary: #bdb1a5;
$color-font: #555555;
$color-shadow: #efefef;
$color-transparent: Transparent;
$color-black: #000000;
$color-grey: #d8d8d8;

/* Breakpoints */
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1123px;
$xl: 1400px;